@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



.prose pre code {
  display: block; 
  white-space: pre-wrap;
  word-break: break-word;
  padding: 0;
  background-color: inherit;
  border-radius: inherit;
  color: #adbac7;
}


span[data-rehype-pretty-code-title] + pre {
  margin-top: -0.2rem;
  border-top-left-radius: 0;
}

span[data-rehype-pretty-code-title] {
  background-color: #22272e;
  color: #adbac7;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 0.8rem;
}

.highlighted {
  background-color: #57c7f933;
}
code {
  background-color: #22272e !important;
  color: #adbac7 !important;
  font-size: 0.9rem !important;
}